.container-1{
    padding-top: 10px;
    border: 2px solid black;
    text-align: center;
    margin:0 auto;
    width:500px;

}
.one{
    padding-top: 50px;
}
.flex-box-container-1{
    display:flex;
    border: 1px solid black;
    padding : 15px;
    justify-content: space-around;
    
}

.flex-box-container-1 div{
    border: 1px solid black;
    padding : 10px;
}